*{
    margin: 0;
    padding: 0;
}

#body{
    @include sizes100;
    background-color: $c_fondo;
}

#head{
    width: 100%;
    height: 80px;
    @include sticky-top;
    background-color: $c_header;
    border-bottom: $bor_negro;
}

.logo{
    width: 100px;
    height: 50px;
}

#opciones__ul{
    width: 100%;
    border: $bor_negro;
    background-color: $c_header;
    @include flex-space;
    padding-left: 10px;
}

.nav-link{
    font-family: $fuente_nav;
    font-weight: bold;
}

#footer{
    @include sizes100;
    padding: $pad-normal;
    background-color: $c_footer;
    @include flexrow-centrado;
}

#footer__text{
    width: 90%;
}

#main{
    @include sizes100;
}

#carousel{
    width: 100%;
    height: 40%;
}

.foto_carrusel{
    width: 2000px;
    height: 500px;
}

.fondo_negro{
    background-color: rgba(0, 0, 0, 0.548);
}

#index__galeria{
    width: 99%;
    height: 50%;
    @include grid-responsive;
    padding: 4%;
}

.galery__div{
    padding: $pad-normal;
    background-color: $c_card;
    border: $bor_card;
    border-radius: $rad_bor;
    @include flexcol-centrado-v;
    &:hover{
        transform: scale(1.1,1.1);
    }
    img{
        height: 100%;
        border-radius: $rad_bor;
    }
}

#galeria{
    @include sizes100;
    @include flexcol-centrado-h;
}

#galeria__buscador{
    width: 100%;
    height: 20%;
    @include flexcol-centrado;
    padding: $pad-normal;
}

#buscador{
    width: 80%;
    @include flexcol-centrado-h;
}

#album__fotos{
    @include sizes100;
    @include grid-responsive;
    padding: $pad-normal;
}

.photo__desription{
    opacity: 0;
    transition: opacity .5s;
}

.photo{
    width: 100%;
    height: 400px;
    padding: $pad-normal;
    background-color: $c_card;
    border: $bor_card;
    border-radius: $rad_bor;
    overflow: hidden;
    img{
        @include sizes100;
        border: $bor_card;
        border-radius: $rad_bor;
    }
    div{
        width: 100%;
        height: 100%;
        padding: $pad-normal;
        border-radius: 20px;
        background-color: $c_card;
        position: relative;
        left: 0;
        bottom: 138px;
        transform: translateY(100px);
        transition: transform .25s;
        &::before{
            @include sizes100;
            content: '';
            position: absolute;
            top: -47px;
            right: -45px;
        }
    }
    &:hover div{
        transform: translateY(0);
    }
    &:hover .photo__desription{
        opacity: 1;
        transition-delay: .25s;
    }
}

#masInfo{
    @include sizes100;
    padding: $pad-normal*3;
    @include grid-responsive;
}

#info{
    @include sizes100;
}

#video{
    @include sizes100;
    iframe{
        @include sizes100;
    }
}

#mapa{
    iframe{
        @include sizes100;
    }
}

#link1{
    @include sizes100;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

#link2{
    @include sizes100;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

#link3{
    @include sizes100;
    display: flex;
    flex-direction: column;
}

.imglink{
    transform: scale(0.8);
    padding: $pad-normal;
    background-color: $c_card;
    border-radius: $rad_bor;
    img{
        border-radius: $rad_bor;
    }
}

#registro{
    @include sizes100;
    @include flexcol-centrado;
    padding-top: 35px;
    padding-bottom: 35px;
}

#registro__cabecera{
    @include sizes100;
    @include flexcol-centrado-h
}   

#formulario{
    width: 50;
    margin: 5%;
    padding: 16px;
    border: $bor_negro;
    background-color: $c_card;
}

#ayuda{
    @include sizes100;
    padding: $pad-normal;
    @include flexcol-centrado;
}

#preguntas{
    @include sizes100;
    padding: $pad-normal;
    @include grid-responsive;
    margin: 35px;
}

#ayuda__title{
    @include flexcol-centrado;
}

.pregunta{
    @include sizes100;
    border: $bor_negro;
    padding: $pad-normal;
    @include flexcol-centrado-h;
    background-color: $c_card;
}

#ayuda__contacto{
    @include flexcol-centrado-v;
    margin: $pad-normal;
}

@media screen and (min-width: 576px) {
    
    #opciones__ul{
        border: 0;
    }
    #masInfo{
        grid-template-columns: repeat(auto-fit,
        minmax(450px,1fr));
        gap: $pad-normal;
    }
    #album__fotos{
        @include grid-resp-400;
    }
    #preguntas{
        @include grid-resp-400;
    }
}

@media screen and (min-width: 985px) and (max-width: 1445px){
    #mapa{
        grid-column-start: 2;
    }
    #link1{
        grid-row-start: 2;
        grid-column-start: 1;
    }
}