*{
    margin: 0;
    padding: 0;
}

#body{
    @include sizes100;
    background-color: map-get($map: colors, $key: fondo);

#head{
    width: 100%;
    height: 80px;
    @include sticky-top;
    background-color: map-get($map: colors, $key: header);
    border-bottom: $bor_negro;
}

.logo{
    width: 100px;
    height: 50px;
}

#opciones__ul{
    width: 100%;
    border: $bor_negro;
    background-color: map-get($map: colors, $key: header);
    display: flex;
    justify-content: right;
    padding-left: 10px;
}

.nav-link{
    font-family: $fuente_nav;
    font-weight: bold;
    width: max-content;
}

.nav-item{
    margin-left: 2%;
}

#footer{
    @include sizes100;
    padding: $pad-normal;
    background-color: map-get($map: colors, $key: footer);
    border-top: $bor_negro;
    @include flexrow-centrado;
}

#footer__text{
    width: 90%;
    margin-left: $pad-normal;
    font-weight: bold;
    text-align: justify;
}

#main{
    @include sizes100;
}

#carousel{
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.foto_carrusel{
    width: 100%;
    height: 60vh;
}

.fondo_negro{
    height: 500px;
    padding: $pad-normal;
    background-color: rgba(0, 0, 0, 0.548);
    @include flexcol-centrado-h;
    text-align: justify;
    z-index: 9;
    overflow: hidden;
    position: absolute;
    top: -450px;
    transition: transform .25s;
    div{
        @include flexcol-centrado-h;
        padding: $pad-normal;
        position: absolute;
        bottom: 0;
        z-index: 9;
    }
    &:hover{
        transform: translateY(300px);
        transition: transform .25s;
    }
}

.carousel-indicators{
    z-index: 9;
}

#index__galeria{
    width: 99%;
    height: 50%;
    @include grid-responsive;
    padding: 4%;
}

.galery__div{
    padding: $pad-normal;
    background-color: map-get($map: colors, $key: card);
    border: $bor_card;
    border-radius: $rad_bor;
    @include flexcol-centrado-v;
    &:hover{
        transform: scale(1.1,1.1);
    }
    img{
        height: 100%;
        border-radius: $rad_bor;
    }
}

#galeria{
    @include sizes100;
    @include flexcol-centrado-h;
}

#galeria__buscador{
    width: 100%;
    height: 20%;
    @include flexcol-centrado;
    padding: $pad-normal;
}

#buscador{
    width: 80%;
    @include flexcol-centrado-h;
}

#album__fotos{
    @include sizes100;
    @include grid-responsive;
    padding: $pad-normal;
}

.photo{
    width: 100%;
    height: 400px;
    padding: $pad-normal;
    background-color: map-get($map: colors, $key: card);
    border: $bor_card;
    border-radius: $rad_bor;
    overflow: hidden;
    img{
        @include sizes100;
        border: $bor_card;
        border-radius: $rad_bor;
    }
    div{
        width: 100%;
        height: fit-content;
        padding: $pad-normal;
        border-radius: 20px;
        border-top: $bor_card;
        background-color: map-get($map: colors, $key: card);
        text-align: justify;
        position: relative;
        left: 0;
        bottom: 138px;
        transform: translateY(100px);
        transition: transform .25s;
        &::before{
            @include sizes100;
            position: absolute;
            top: -47px;
            right: -45px;
        }
        h5{
            font-family: $fuente_nav;
            font-weight: bold;  
        }
    }
    &:hover div{
        transform: translateY(0);
    }
}

#masInfo{
    @include sizes100;
    padding: $pad-normal*3;
    @include grid-responsive;
}

#info{
    @include sizes100;
    text-align: justify;
    h1{
        font-family: $fuente_nav;
        font-weight: bold;
        text-align: left;
    }
}

#video{
    @include sizes100;
    iframe{
        @include sizes100;
    }
}

#mapa{
    iframe{
        @include sizes100;
    }
}

#link1{
    @include sizes100;
    display: flex;
    flex-direction: column;
}

#link2{
    @extend #link1;
    #link2__img2{
        height: 85%;
        width: 95%;
        margin-top: 3%;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: opacity .5s;
    }
    &:hover #link2__img2{
        opacity: 1;
    }
}

#link3{
    @extend #link1;
}

.imglink{
    @include flexcol-centrado-h;
    height: fit-content;
    transform: scale(0.8);
    padding: $pad-normal;
    background-color: map-get($map: colors, $key: card);
    border-radius: $rad_bor;
    border: $bor_card;
    img{
        width: 100%;
        height: 320px;
        border-radius: $rad_bor;
    }
    a{
        font-weight: bold;
    }
}

#registro{
    @include sizes100;
    @include flexcol-centrado;
    padding-top: 35px;
    padding-bottom: 35px;
}

#registro__cabecera{
    @include sizes100;
    padding: $pad-normal;
    @include flexcol-centrado-h;
    text-align: justify;
    h4{
        font-family: $fuente_nav;
        font-weight: bold;
    }
}   

#formulario{
    width: 50;
    margin: 5%;
    padding: 16px;
    border: $bor_negro;
    background-color: map-get($map: colors, $key: card);
}

#ayuda{
    @include sizes100;
    padding: $pad-normal;
    @include flexcol-centrado;
}

#preguntas{
    @include sizes100;
    padding: $pad-normal;
    @include grid-responsive;
    margin: 35px;
}

#ayuda__title{
    @include flexcol-centrado;
    font-family: $fuente_nav;
    font-weight: bold;
}

.pregunta{
    @include sizes100;
    border: $bor_negro;
    padding: $pad-normal;
    @include flexcol-centrado-h;
    background-color: map-get($map: colors, $key: card);
    text-align: justify;
    h3{
        text-align: center;
    }
}

#ayuda__contacto{
    @include flexcol-centrado-v;
    margin: $pad-normal;
}

@media screen and (min-width: 576px) {
    
    #opciones__ul{
        border: 0;
    }
    .fondo_negro{
        height: auto;
        position: absolute;
        top: 0px;
        background-color: rgba(0, 0, 0, 0);
        div{
            height: fit-content;
            top: 0;
            transform: translateY(0);
            background-color: rgba(0, 0, 0, 0.548);
        }
        &:hover{
            transform: translateY(0);
        }
    }

    #masInfo{
        grid-template-columns: repeat(auto-fit,
        minmax(450px,1fr));
        gap: $pad-normal;
    }
    #album__fotos{
        @include grid-resp-400;
    }
    #preguntas{
        @include grid-resp-400;
    }
}

@media screen and (min-width: 985px) and (max-width: 1485px){
#mapa{
    grid-column-start: 2;
}

#link1{
    grid-row-start: 2;
    grid-column-start: 1;
}

#link2{
    grid-row-start: 3;
    grid-column-start: 1;
}

#link3{
    grid-row-start: 3;
    grid-column-start: 2;
}
}                                                         
}