//Fuentes//////////////////////////////////<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    $fuente_nav: 'Courgette', cursive;


//Bordes///////////////////////////////////<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    $bor_negro: 2px solid black;
    $bor_card: 1px solid rgb(100, 81, 57);

//Medidas///////////////////////////////////<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    $pad-normal: 15px;
    $rad_bor: 20px
    
    

