//Fuentes//////////////////////////////////<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    $fuente_nav: 'Courgette', cursive;


//Colores///////////////////////////////////<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    $c_fondo: rgb(226, 191, 147);
    $c_header: rgb(194, 154, 106);
    $c_footer: rgb(94, 73, 48);
    $c_card: rgb(194, 154, 106);

    $bor_negro: 2px solid black;
    $bor_card: 1px solid rgb(100, 81, 57);

//Medidas///////////////////////////////////<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    $pad-normal: 15px;
    $rad_bor: 20px
    
    

